{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}
<div class="container">
    {#<h1 class="sP text-center">Détails de l'évènement {{occasion.title}}</h1>#}

        <section class="row justify-content-center col-lg-12 col-md-12">

                <div class="col lg-5 col-md-7 col-sm-6 shadow text-center mt-4 mb-3 ms-3 me-3" id="eventShow">

                <h1 class="sP mt-3 mb-3">{{ occasion.title }}</h1>    

                {% for picture in occasion.pictures %}
                    <div class="surroundPics my-1 col-sm-auto">
                        <div class="pics">
                            <img class="shadow-sm p-3 mb-3 bg-body rounded" src="{{ asset('/uploads/pictures/'~ picture.pictureFile) }}" height="350px" alt"{{picture.altText}}"> 
                        </div>
                    </div>        
                {% endfor %}
                    <span class="rFb mb-2">Détails de l'évènement</span> 
                    <p class="mt-2 mb-3 rF">{{ occasion.description }}</p>
                    <div>
                        <span class="rFb">Début de l'évènement</span>
                        <p class="mt-2 mb-3"> {{ occasion.startDate|date('d/m/Y H:i') }}</p>
                        <span class="rFb">Fin de l'évènement</span> 
                        <p class="mt-2 mb-3">{{ occasion.endDate|date('d/m/Y H:i') }}</p>          
                    </div>
                    <div id="eventParts">
                        <span class="rFb">Nombre de participants</span>
                        <p class="mt-2 mb-3"><span class="rFb">Minimum: </span>{{ occasion.minParts}}</p>
                        <p class="mt-2 mb-3"><span class="rFb">Maximum: </span>{{ occasion.maxParts}}</p>          
                    </div>                
                        <a href="{{ path('contact') }}" class="btn btn-contact col-3 mb-3">Je participe</a>
                </div>
            


        </section>

        <br><br>

    {% if is_granted('ROLE_ADMIN') %}

    <div class="row justify-content-center">

    <a href="{{ path('admin_occasion_index') }}" class="btn btn-return col-lg-2 col-md-2 col-sm-2 ms-1 me-1">Retour à la liste</a>

    <a href="{{ path('admin_occasion_edit', {'id': occasion.id}) }}" class="btn btn-update col-lg-2 col-md-2 col-sm-2 ms-1 me-1">Modifier l'évènement</a>

    <a href="{{ path('calendrier') }}" class="btn btn-return col-lg-2 col-md-2 col-sm-2 ms-1 me-1">Retour au calendrier</a>

    </div>
    <br>

    <form method="post" action="{{ path('admin_occasion_delete', {'id': occasion.id}) }}" onsubmit="return confirm('Êtes-vous sûr.e de vouloir supprimer cet évènement?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ occasion.id) }}">
        <div class="row justify-content-center mb-5">
            <button class="btn btn-delete mb-3 col-lg-1 col-md-1 col-sm-2 "><i class="bi bi-trash3-fill"></i></button>
        </div>
    </form>

    
    {% else %}
    
    <a href="{{ path('calendrier') }}">Retour au calendrier</a>

    {% endif %}

</div>

{% endblock %}
